<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cse5324.team.autismhelp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".visualcontact.VisualContactActivity" />
        <activity android:name=".stayinplace.StayinPlaceActivty" />
        <activity android:name=".imitation.ImitationActivity" />
        <activity android:name=".followinstructions.FollowInstructionsActivity" />
        <activity android:name=".expressintentions.ExpressIntentionsActivity" />
        <activity android:name=".help.HelpActivity" />
        <activity android:name=".stayinplace.puzzle.PuzzleActivity" />
        <activity android:name=".stayinplace.trace.TraceActivity" />
        <activity android:name=".stayinplace.match.MatchActivity" />
        <activity android:name=".stayinplace.buildtower.BuildTowerActivity" />
        <activity android:name=".followinstructions.Brush" />
        <activity android:name=".followinstructions.Shower" />
        <activity android:name=".followinstructions.Eat" />
        <activity android:name=".imitation.HandsUp" />
        <activity android:name=".imitation.Clap" />
        <activity android:name=".imitation.TouchYourFoot" />
        <activity android:name=".imitation.Dance" />
        <activity android:name=".imitation.HandsToHead" />
        <activity android:name=".visualcontact.Toy"/>
        <activity android:name=".visualcontact.Ball" />
        <activity android:name=".visualcontact.Juice" />
        <activity android:name=".visualcontact.Cookie"></activity>
    </application>

</manifest>